@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Thông Tin Sách</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themmoisach")
</p>
<table class="table">
    <tr>
        <th style="width:200px">Tên Sách</th>
        <th style="width:200px">Đơn Vị Tính</th>
        <th style="width:200px">Đơn Giá</th>
        <th style="width:350px">Mô Tả</th>
        <th style="width:200px">Hình Minh Họa</th>
        <th style="width:200px">Chủ Đề</th>
        <th style="width:200px">Nhà Xuất Bản</th>
        <th style="width:200px">Ngày Cập Nhật</th>
        <th style="width:50px">Mới</th>       
        <th style="width:350px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Truncate(item.Mota, 100)
        </td>
        <td>
            <img src="@Url.Content("~/Hinhsanpham/"+ item.Hinhminhhoa)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moi)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Suasach", new { id=item.Masach }) |
            @Html.ActionLink("Chi Tiết", "Chitietsach", new { id=item.Masach }) |
            @Html.ActionLink("Xóa", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}

</table>
@*Tao liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page=page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
